<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORwOKGO="/>
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css">
<!-- CSS only -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- JS, Popper.js, and jQuery -->

</head>
<body>
<div class="navbar" id="navbarID">
    <ul>
        <li class="headersubdiv">
             <h1 class="home-title">
            <i class='fas fa-shopping-bag' style='font-size:36px;color:forestgreen'></i>
            <span>ST</span><span style="color: hsl(120,60%,70%);">shop</span>
        </h1>
        </li>
        <li class="headersubdiv" id="kek">
            <form method="post">
            <div class="input-group mb-3">
                {% csrf_token %}
                {{form.as_p}}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-success" id="button" >Search</button>
                </div>
                {{search_results}}
            </div>
        </form>
        </li>
    </ul>
</div>


<nav class="navbar navbar-expand-sm bg-light navbar-light" id="navbarlist">

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop2" data-toggle="dropdown">
                Discovery Boards
            </a>


            <ul class="dropdown-menu multi-level" id="dropdowndiv" role="menu" aria-labelledby="dropdownMenu">

                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1" onclick="searchProduct('STM32')">STM32<a/>
                        <ul class="dropdown-menu" id="items">
                            <li class="dropdown-item">
                                <a class="dropdown-item items" tabindex="-1" onclick="searchProduct('STM32F4')">STM32F4</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item items" tabindex="-1" onclick="searchProduct('STM32F3')">STM32F3</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item items" tabindex="-1"  onclick="searchProduct('STM32F2')">STM32F2</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item items" tabindex="-1" onclick="searchProduct('STM32F1')">STM32F1</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" tabindex="-1"  onclick="searchProduct('STM32F0')">STM32F0</a>
                            </li>
                        </ul>
                </a>
                </li>
                <li class="dropdown-divider"></li>


                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1"  onclick="searchProduct('STM8')">STM8</a>
                    <ul class="dropdown-menu"id="items1">
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" onclick="searchProduct('STM8AF')" >STM8AF</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" onclick="searchProduct('STM8AL')" ">STM8AL</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" onclick="searchProduct('STM8L')" >STM8L</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" onclick="searchProduct('STM8S')">STM8S</a>
                        </li>
                    </ul>

                </li>

            </ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbardrop1" data-toggle="dropdown">
                <i class="fas fa-microchip"></i>Components
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" id="componentsdropdown">
                <li class="dropdown-submenu">
                <li class="dropdown-item" style="border-bottom: 1px solid #EEE;" onclick="searchProduct('capacitor')" tabindex="1">Capacitor
                <li/>
                <li class="dropdown-item" style="border-bottom: 1px solid #EEE;" onclick="searchProduct('resistor')" tabindex="2">Resistor
                <li/>
                <li class="dropdown-item" style="border-bottom: 1px solid #EEE;" onclick="searchProduct('transistor')" tabindex="3">Transistor
                <li/>
                <li class="dropdown-item" style="border-bottom: 1px solid #EEE;" onclick="searchProduct('diode')" tabindex="4">Diode
                <li/>

                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                Currency <i class="fas fa-dollar-sign"></i>
            </a>

            <div class="dropdown-menu" id="Cur" style="overflow: hidden; overflow-y: scroll; height: 150px;">
                {% for i,k in json_results.items %}
                <p style="padding: 5px; border-bottom: 1px solid #EEE;">{{ i }} : {{ k }}</p>
                {% endfor %}
            </div>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbardropas" data-toggle="dropdown">
                Stores
            </a>

            <div class="dropdown-menu" id="STR" style="overflow: hidden; overflow-y: scroll; height: 150px;">
                 {% for m,l,i,n,s in search_result1 %}
                <p style="padding: 5px; border-bottom: 1px solid #EEE;" id="strItem" onclick="func('{{s}}')">{{ s }}</p>
                {% endfor %}
            </div>

        </li>

        <div class="dropdown-menu"id="shops">

        </div>
    </ul>
</nav>
<div class="container" id="containerParent">
    {% for m,l,i,n,s in search_result %}
        <div id="containerchilddiv-{{s}}" class="containerchilddiv">
            <div class="picture">
                <img src="{{i}}">
            </div>
            <div class="priceanditem">
                <p><a href="{{ l }}" target="_blank">{{n}} </a> </p>
                 <p> {{s}} </p>
                <p><b>{{ m }}</b>  </p>
            </div>
        </div>
{% endfor %}
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/24e94f24b3.js" crossorigin="anonymous"></script>

<script>
        function func(name) {
            let parentContainer = document.getElementById('containerParent');
            let childContainer = document.getElementById('containerchilddiv-' + name);
            console.log('childContainer', childContainer);
            for(i = 0; i < parentContainer.children.length; i++) {
                if(parentContainer.children[i] !== childContainer) {
                    parentContainer.children[i].style.display = 'none';
                }
            }
        }

        function searchProduct(searchValue) {
            let searchInput = document.getElementById('searchinput');
            if(searchValue) {
                searchInput.value = searchValue;
            }
        }
</script>



</body>
</html>
