<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />



</head>
<body>
<link rel="stylesheet" type="text/css" href="../static/css/homepage.css">
<!-- CSS only -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/24e94f24b3.js" crossorigin="anonymous"></script>


<div class="row">
    <div class="col">

        <h1 class="home-title">
            <i class='fas fa-shopping-bag' style='font-size:36px;color:forestgreen'></i>
            <span>electro</span><span>shop</span>
        </h1>
    </div>
    <div class="col" id="kek">
        <form method="post">
            {% csrf_token %}
            <br>
            {{form.as_p}}
            <br>
            <button type="submit" class="btn btn-outline-success">What are you looking for?</button>
            <br>
        </form>

    </div>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Home</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                Discovery Boards
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1" href="#">STM32<a/>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="dropdown-item" tabindex="-1" href="#">STM32F4</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" tabindex="-1" href="#">STM32F3</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" tabindex="-1" href="#">STM32F2</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" tabindex="-1" href="#">STM32F1</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" tabindex="-1" href="#">STM32F0</a>
                            </li>
                        </ul>
                <li class="dropdown-divider"></li>
                </a>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1" href="#">STM8</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" href="#">STM8AF</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" href="#">STM8AL</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" href="#">STM8L</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-item" tabindex="-1" href="#">STM8S</a>
                        </li>
                    </ul>

                </li>

            </ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                <i class="fas fa-microchip"></i>Components
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-submenu">
                <li class="dropdown-item" tabindex="-1" href="#">Capacitor
                <li/>
                <li class="dropdown-item" tabindex="-1" href="#">Resistor
                <li/>
                <li class="dropdown-item" tabindex="-1" href="#">Transistor
                <li/>
                <li class="dropdown-item" tabindex="-1" href="#">Diode
                <li/>

                </li>
            </ul>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Currency <i class="fas fa-dollar-sign"></i>
            </a>

            <div class="dropdown-menu" id="Cur">
                {% for i,k in json_results.items %}
                <ul>{{ i }}:{{ k }}</ul>
                {% endfor %}

            </div>

        </li>

    </ul>
</nav>


</body>
</html>
